/*Couleur Fond et Texte*/
body
{
	font-family:"Trebuchet MS";
	background: radial-gradient(white,grey, black);
	color: black;
	
	min-height:800px;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:2%;
	margin-top:2%;
}


/*Taille Photo */
.ImageSydney
{
	width: 250px;
	height: 600px;
	margin-right: 5%;
	padding-left: 10%;

}

/*Taille Bouton*/
.BoutonSydney
{
	width: 200px;
	height: 40px;
}
div
{
	padding-top:2.5%;
}
.ImageSydney
{
	padding-top:5%;
}